# Ignore emacs autosave~ and #modified# files
*~
**/*~
**/\#*

# Ignore main files
**/*main.c
!/0x03-debugging/*main.c
!/0x0D-preprocessor/2-main.c
!/0x0F-function_pointers/3-main.c

# Ignore object files and libraries
*.o
*.ko
*.obj
*.elf